html
head
    title Alexandre Hebert - Curriculum Vitae
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/index.css", rel="stylesheet")
    link(rel="shortcut icon" type="image/png" href="/favicon.png")
    link(rel="icon" type="image/png" href="/favicon.png")
    meta(name='description' content='Alexandre Hebert - Curriculum Vitae')
    meta(property='og:type' content='website')
    meta(property='og:site_name' content='Alexandre')
    meta(property='og:locale' content='fr')
    meta(property='og:title' content='Alexandre Hebert')
    meta(property='og:description' content='Curriculum Vitae')
    meta(property='og:image' content='https://a1exand.re/profile.jpg')
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:title' content='Alexandre Hebert')
    meta(name='twitter:description' content='Curriculum Vitae')
    meta(name='twitter:image' content='https://a1exand.re/profile.jpg')
    link(rel='canonical' href='https://a1exand.re/')
    style.
        em {
            font-style: normal;
            font-weight: bold;
            color: black;
        }

body(class="print:m-0 print:bg-transparent bg-[#606368] m-6 md:m-12")

    div(class="print:hidden max-w-4xl mx-auto flex justify-end gap-2 text-center items-end")
        each locale, i in locales
                if locale === currentLocale
                    div(class="w-14 bg-white/80 py-1 px-4")= locale
                else
                    a(class="block w-14 transition-colors bg-white/10 hover:bg-white/80 py-1 px-4" href="/" + locale)= locale

    div(class="print:p-0 print:bg-transparent bg-white max-w-4xl mx-auto p-6 md:p-12")

        section(class="flex flex-col sm:flex-row justify-between")
            div.mb-4
                h1(class="text-2xl font-bold text-center md:text-left")= title
                hr.border-none.my-2
                div.text-gray-500 !{md(subTitle)}
                div.flex.gap-2
                    each skill, i in skills
                        span= skill
                        if i < skills.length - 1
                            span &middot;

            div(class="sm:text-right")
                div.font-bold= name
                each detail in details
                    div.text-gray-500 !{md(detail)}
                hr.border-none.my-2
                each phone in phones
                    div= phone
                div= email
                each link in social
                    div= link

        section.my-12.border-b.border-gray-300

        section.flex.flex-col.gap-4.text-gray-500 !{md(description)}

        section.my-12.border-b.border-gray-300

        section.flex.flex-col.gap-8
            each experience in experiences
                div.flex.flex-col.gap-2
                    div
                        div.font-bold #{experience.role}
                        div.text-gray-300.italic.capitalize #{experience.contract} &middot; #{period(experience.period.from)} - #{period(experience.period.to)}
                        div
                            span.font-bold #{experience.company}
                            | ,
                            | #{experience.shortDescription}
                        div.flex.flex-wrap.gap-x-2
                            each skill, i in experience.skills
                                span= skill
                                if i < experience.skills.length - 1
                                    span &middot;
                    div !{md(experience.description)}
                    if experience.contributions
                        div.text-gray-500
                            ul.ml-4.list-none.flex.flex-col.items-end
                                each contribution in experience.contributions
                                    li.text-right
                                        span.mr-4 &middot;
                                        span= contribution
